@import '0-helper/0-helper';
@import '1-components/1-components';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

// General Reset
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Baskerville', serif;
  background: $secondary;
  font-family: 1rem;
  line-height: 1.4;
}

.font-bask {
  font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
  display: block;
}

p {
  margin-bottom: 0.4rem;
  display: block;
}

img {
  width:  100%;
  height: auto;
}

.shadow {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

a {
  color: $accent;
  text-shadow: 1px white;
}

blockquote {
  background: lighten($color: $foreground, $amount: 8);
  border-left: 10px solid $accent;
  margin: 1.5rem 10px;
  padding: 1em 10px .1em 10px;
  li {
    margin-left: 1em;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-top: 5px;
  }
}

.banner {
  background: darken($color: $accent, $amount: 6);
  text-align: center;
  color: white;
  margin: 0;
  padding: 15px 0;
  h1{
    margin: 0;
    padding: 0;
  }
}