.card {
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #783048;
  border: 5px solid #783048;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  &:hover{
    bottom: 5px;
  }
}

.card .lvl {
  background: #333;
  padding: 25px 30px;
  border-radius: 50%;
  border: 5px solid #783048;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 5;
}

.card .tri {
  /* background: #783048; */
  background: #783048;
  padding: 100px;
  position: absolute;
  top: -125px;
  left: -125px;
  transform: rotateZ(45deg);
  z-index: 2;
}