.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
  
  @include mQ(1000px){
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6rem;
  }
  @include mQ(800px){
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
  }
  @include mQ(500px){
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.8rem;
  }
}

.gr-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include mQ(800px){
    grid-template-columns: 1fr;
  }
  
}

.wiki {
  grid-template-columns: 1fr 4fr;
  grid-gap: 0;
  @include mQ(992px) {
    grid-template-columns: 1fr;
    a {
      display: inline-block;
    }
    .sidebar {
      white-space: nowrap;
      min-height: auto;
      max-height: 4rem;
      overflow-x: scroll;
      overflow-y: hidden;
      div {
        display: inline;
      }
    }
  }
}

.index-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1.2rem;
}
@include mQ(992px) {
  .index-grid{
    grid-template-columns: 1fr;
  }
  .sidecontent {
    display: none;
  }
}

.maps {
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 992px) {
  .maps{
    grid-template-columns: 1fr;
  }
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 30vh;
}