.sidebar {
  height: 100%;
  min-height: 90vh;
  overflow: auto;
  background: #333;
  // animation: slide .2s ease-in;
  a {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: white;
    &:hover {
      background: lighten(#333, 6)
    }
  }
}

// @keyframes slide {
//   0%   {width: 0}
//   100% {width: 100%}
// }